<h3 class="text-center padding"><%= @person.name %></h3>
<div class ="row">
  <div class="col-3">
    <% if @person.profile_path != nil %>
      <% image = @image + @person.profile_path %>
      <%= image_tag(image, :class => "mx-auto d-block picture") %>
    <% end %>
  </div>
  <div class ="col-9">

    <% if @person.biography != nil %>
      <p>Biography: <%= @person.biography %> </p>
    <% end %>

    <% if @person.birthday != nil %>
      <p>Born: <%= @person.birthday %> </p>
    <% end %>

    <% if @person.place_of_birth != nil %>
      <p>Place of Birth: <%= @person.place_of_birth %> </p>
    <% end %>


    <% if @person.gender != nil %>
      <p>Gender: <%= @person.gender == 2? "Male" : "Female" %></p>
    <% end %>

    <p>
      <% if @person.imdb_id != nil %>
      <%= link_to "Click here for IMBD Profile", "http://www.imdb.com/name/#{@person.imdb_id}"%>
      <% end %>
    </p>
    </div>
</div>
