<h1 class= "text-center padding"> Popular Tv Shows </h1>
<div class="results flex results_poster_card border border-primary">
  <% @tvshows.results.each do |m|  %>
    <div class="item poster card">
      <h4 class = "mx-auto d-block" > <%= link_to m.name, tv_path(m.id) %></h4>
      <div class="image_content ">
        <% if m.backdrop_path != nil %>
          <% image = @image + m.backdrop_path %>
          <%= image_tag(image, :class => "mx-auto d-block picture") %>
        <% end %>
      </div>
      <div class= "info">
          <div class = "overview"><%= m.overview %>
            <p>Rating: <%= m.vote_average %>/10.0</p>
            <p><%= link_to "More Info", tv_path(m.id) %></p>
          </div>

        </div>
    </div>
  <% end %>
</div>
 <div>
   <p class="left">
  <% if @tvshows.page >= 2 %>
    <%= link_to "Previous Page", tv_index_path(:page => @tvshows.page.to_i - 1 ) %>
  <% end %>
  </p>
   <p class="center">
    Currently on Page: <%= @tvshows.page %> of 1000

  </p>
    <p class="right">
  <% if @tvshows.page < 1000 %>
    <%= link_to "Next Page", tv_index_path(:page => @tvshows.page.to_i + 1 ) %>
  <% end %>
  </p>

</div>
